
      <h2>User info</h2>
      <img class = "attachment user profile_image fallback" src = "/assets/noimage.png">
      <table class = "table">
        <tbody>
          <tr></tr>
          <tr>
        	  <th>name</th>
        	  <th><%= user.name %></th>
          </tr>
          <tr>
        	  <th>introduction</th>
        	  <th><%= user.introduction %></th>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <a class = "btn btn-outline-secondary btn-block fas fa-user-cog" href = "/users/:id/edit" ></a>
      </div>


